html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

* :focus {
  outline: solid 1px #38f;
  outline-offset: -1px;
}

.pianoroll-container {
  overflow-y: scroll;
  height: 300px;
  border: solid 1px #aaa;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  background-color: #444;
  color: #eee;
}

.toolbar-button {
  border-left: solid 1px #555;
  border-right: solid 1px #333;
}

.toolbar-button-selected {
  background-color: #469;
}

.toolbar-button-timeview {
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
